/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

/*.wrap-table100 {
  width: 1170px;
}*/

table.user-progress-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border: 1px solid #eee !important;
}

table.user-progress-table * {
  position: relative;
  font-family: inherit;
}
/*table.user-progress-table td, table th {
  padding-left: 40px;
}*/
table.user-progress-table thead tr {
  height: 60px;
  background: #ffb606;
  color: #333;
}
table.user-progress-table tbody tr {
  height: 50px;
  border: none;
}

table.user-progress-table tbody tr:last-child {
  border: 0;
}
table.user-progress-table td, table th {
  font-size: 18px;
}
table.user-progress-table td.column4 {
  text-align: right;
}
table.user-progress-table td.l, table th.l {
  text-align: right;
}
table.user-progress-table td.c, table th.c {
  text-align: center;
}
table.user-progress-table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: 'Montserrat', 'Roboto', arial;
  font-size: 18px;
  color: #333;
  line-height: 1.2;
  font-weight: unset;
  text-transform: uppercase;
  font-weight: 600;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: 'Montserrat', OpenSans-Regular, arial;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 25px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
  padding-right: 40px;
}

.column5 {
  width: 90px;
  text-align: right;
  padding-right: 40px;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 40px
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Name";
  }
  table tbody tr td:nth-child(2):before {
    content: "Total";
  }
  table tbody tr td:nth-child(3):before {
    /*content: "Name";*/
  }
  table tbody tr td:nth-child(4):before {
    /*content: "Price";*/
  }
  table tbody tr td:nth-child(5):before {
   /* content: "Quantity";*/
  }
  table tbody tr td:nth-child(6):before {
    /*content: "Total";*/
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#buddypress #user-overview-chart {
  margin-bottom: 3em;
  border: 1px solid #ccc;
  padding: 1em;
}


table.user-progress-table td::first-child {
  padding-left: 40px;
}

#buddypress .action-container {
    display: inline-flex;
    width: 100%;
}

#buddypress .action-container .progress-csv-download-btn {
    margin-top: 2em;
    margin-left: auto;
}

#buddypress .action-container.top .progress-csv-download-btn {
    margin-top: 0em;
    margin-bottom: 2em;
    margin-left: auto;
}

#buddypress .table-info {

    padding: 0em 1em 0.6em 1em;
    border: 1px solid orange;
    margin-bottom: 2em;

}

.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 278px;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 3001;
  display: none;
  font-family: 'Montserrat', 'Roboto', arial;
  font-size: 15px;
  line-height: 1em;
}

.daterangepicker:before, .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.single .drp-selected {
  display: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
  padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}

.daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.daterangepicker td {
  font-family: 'Montserrat', 'Roboto' !important;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #ffb606;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}

.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }
    .daterangepicker .ranges ul {
      width: 140px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker.single .drp-calendar.left {
      clear: none; }
    .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .drp-calendar {
      float: left; }
    .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .drp-calendar {
      float: right; }
    .daterangepicker.ltr {
      direction: ltr;
      text-align: left; }
      .daterangepicker.ltr .drp-calendar.left {
        clear: left;
        margin-right: 0; }
        .daterangepicker.ltr .drp-calendar.left .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.ltr .drp-calendar.right {
        margin-left: 0; }
        .daterangepicker.ltr .drp-calendar.right .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.ltr .drp-calendar.left .calendar-table {
        padding-right: 8px; }
      .daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar {
        float: left; }
    .daterangepicker.rtl {
      direction: rtl;
      text-align: right; }
      .daterangepicker.rtl .drp-calendar.left {
        clear: right;
        margin-left: 0; }
        .daterangepicker.rtl .drp-calendar.left .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.rtl .drp-calendar.right {
        margin-right: 0; }
        .daterangepicker.rtl .drp-calendar.right .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.rtl .drp-calendar.left .calendar-table {
        padding-left: 12px; }
      .daterangepicker.rtl .ranges, .daterangepicker.rtl .drp-calendar {
        text-align: right;
        float: right; } }
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }
  .daterangepicker.ltr .ranges {
    float: left; }
  .daterangepicker.rtl .ranges {
    float: right; }
  .daterangepicker .drp-calendar.left {
    clear: none !important; } }

/*#buddypress .org-menu-container a:hover {
	background-color: rgba(255, 255, 255, 0.08);
}*/

/*#buddypress div.org-menu-container ul li:last-child { 
	position: absolute; 
	right: 0;
	bottom: 51px; 
	padding-left: 3em;
	border-bottom: 0;
}

#buddypress div.org-menu-container ul li:nth-last-child(2) { 
	display: none;
}*/

th > button {
    padding: 0;
    font-size: inherit;
    background: transparent !important;
}

th > button::hover,
th > button::focus {
    padding: 0;
    font-size: inherit;
    background: transparent !important;
}

.sort {
  cursor: pointer;
}


.sort.desc::after {
    content: '';
    position: relative;
    border-left: 3px solid black;
    width: 0px;
    max-height: 0px;
    display: inline-block;
    transform: rotate(225deg);
    left: 5px;
    border-top: 3px solid black;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    top: -2px;
    vertical-align: middle;
}

.sort.asc::after {
    content: '';
    position: relative;
    border-left: 3px solid transparent;
    width: 0px;
    max-height: 0px;
    display: inline-block;
    transform: rotate(225deg);
    left: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    top: 0px;
    vertical-align: middle;
}

#progress-dashboard .cssload-container {
    display: none;
    width: 97px;
    margin-top: -10px;
    margin-left: -48px;
}

#progress-dashboard .pagination > li {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #e5e5e5;
    text-align: center;
    margin-right: 0.3em;
    vertical-align: middle;
    line-height: 2;
}

#progress-dashboard .pagination > li.active {
     border: 2px solid #ffb606; 
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 0.3em;
    line-height: 30px;
}

#progress-dashboard .pagination > li > .mycred-nav {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    position: relative;
}

#buddypress .progress-control-area {
    display: flex;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #e5e5e5;
}

#buddypress .groups-members-search.progress-member-search {
    margin-bottom: 0;
    margin-left: auto;
}

.user-progress-table th {
    text-transform: uppercase;
}

#buddypress .entry-search  {
    margin-bottom: 0;
    margin-left: auto;
}

#search-entries-form {
    position: relative;
}

#search-entries-form:before {
    content: "\f002";
    font-family: FontAwesome;
    line-height: 40px;
    display: inline-block;
    color: #999;
}

#search-entries-form #entries_search {
    display: inline-block;
    line-height: 30px;
    padding: 4px 10px;
    border: 1px solid #eee;
    color: #999;
    min-width: 250px;
}

#search-entries-form #entries_search_submit, #search-entries-form:before {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 0;
    right: 0;
}

#search-entries-form #entries_search_submit {
    background: 0 0;
    color: transparent;
    padding: 0;
}

#buddypress .action-container.top > .progress-entries-table-pagination {
    margin-top: 0em;
    margin-bottom: 2em;
}

#entries-pagination > .pagination-top .pagination {
  margin-top: 0;
}